.line1{
	clear: both;
	position:relative;
}
body{
	background-color: #eff4f8;
}
.line1 .box1{
	position: relative;
    top: 0px;
}
::placeholder{
	color: rgb(169, 169, 169);
}
.element2 h2{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family:  ProximaNova,Arial,Sans-serif;
    background:-webkit-linear-gradient(left, rgb(148, 115, 221) 0%, rgb(26, 201, 228) 100%);
    color: #fff;
    padding:10px 0;
    margin-top: 20px;
}
.element1 {
	position: relative;
    box-sizing: border-box;
    height: 617px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}
.box1 h1{
	position: relative;
    box-sizing: border-box;
    text-align: center;
    overflow: visible;
    padding-bottom: 0px;
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 1.4;
    border-radius: 0px;
}
.element2{
	position: relative;
    box-sizing: border-box;
    height: 380px;
    width: 320px;
    align-self: center;
    border-radius: 0px;
}
.btn-click{
	position: absolute;
    box-sizing: border-box;
    height: 56px;
    width: 400px;
    padding: 0px;
    cursor: pointer;
    background: -webkit-linear-gradient(left, rgb(148, 115, 221) 0%, rgb(26, 201, 228) 100%);
    border: none;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 1;
    border-radius: 30px;
    transition: background 200ms ease 0s;
}